

body{
    font-family: 'doors';
    font-size: 30px;
}

#word, #input{
  align-items: center;
  justify-content: center;
}

#input input{
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  display: inline;
}

#encloser{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

#guess{
  visibility: hidden;
}

.easy{
  background-color: lightgreen;
}

.medium{
  background-color: rgb(255, 255, 128);
}

.hard{
  background-color: lightcoral;
}