:root {
  --rows : 10;
  --columns : 10;
  --center_column : 5;
  --center_row : 5;
}


body{
    font-family: 'doors';
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'doors';
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: black;
}

/* #word, #input{
  align-items: center;
  justify-content: center;
} */

#playerdata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/calc(var(--rows) + 1);
  grid-column-end: calc(var(--columns) + 1);
  grid-column-start: span 4;
  gap: 15px;
}

#wordinputcontainer{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: calc(var(--rows) + 1);
  grid-column-start: 1;
  grid-column-end: calc(var(--columns) + 1);
}


#status{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: calc(var(--center_row) + 4) / span 1;
  grid-column: calc(var(--center_column) - 2) / span 4;
  font-family: 'Jua';
  font-size: 30px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);

}

#readypage{
  position: absolute;
  top:0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#readybox{
  z-index: 8;
  opacity: 100%;
  background-color: white;
  border: 1px solid rgb(251, 255, 0);
  border-radius: 5px;
  height: 60%;
  width: 40%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}

#instructionsheading{
  font-family: 'Jua';
  font-weight:700;
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 25px;
}

#roomcode{
  height: 40px;
  width: 40%;
  position: absolute;
  top: -20px;
  left: 30%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 253, 161);
  color: black;
  font-family: 'Jua';
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  border-radius: 3px;
}

#instructions{
  font-family: 'Jua';
  font-size:medium;
  font-weight:200;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#ready{
  height: 40px;
  width: 80%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Jua';
  font-size: 20px;
  font-weight: 500;
}

#ready:hover{
  background-color: white;
  color: black;
}


#overlay1{
  background-color: black;
  z-index: 6;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 50%;
  bottom: 0px;
  
  
}

#overlay2{
  background-color: black;
  z-index: 6;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  bottom: 0px;
  
}

.anim1{
  animation: anim1 500ms ease-in 6s 1 forwards ;
}
.anim2{
  animation: anim2 500ms ease-in 6s 1 forwards ;
}

@keyframes anim1 {
  /* to {transform: translateX(-100%);width: 0%; display: none;} */
  to {right: 100%;}
}
@keyframes anim2 {
  to {left: 100%;}
}

#ctdwn{
  font-family: 'aom';
  font-size: 150px;
  color: yellow;
}


.tile{
  /* border: 2px solid black; */
  grid-column: var(--c1)/var(--c2);
  grid-row: var(--r1)/var(--r2);
  z-index: -1;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'aom';
  font-weight: 100;
  font-size: 18px;
  color: rgb(71, 71, 71);
}

#encloser{
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  overflow: hidden;
}

#countdown{
  grid-row:  2/4;
  grid-column-start: calc(var(--center_column) - 1);
  grid-column-end: span 2;
  text-align: center;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 20px;
}

#wordinput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.623);
  border: 1px solid black;
  border-radius: 15px;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 32px;
  font-family: 'Jua';
  z-index: 5;
}

#input input{
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  display: inline;
  background-color: none;
}

#input[type="text"]{
  font-family: 'Jua';
  font-size: 20px;
}

#input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

#guess{
  visibility: hidden;
  background-color: rgb(203, 255, 203);
}

.playerinfo{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  gap: 10px;
}

.info{
  font-family: 'Caveat Brush', sans-serif;
  display: flex;
  flex-direction: column;
  align-items:end;
  justify-content: center;
  font-size: 35px;
  margin: 0px;
  padding: 0px;
  
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px dashed black;
  background-color: rgb(255, 251, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#gameovercontainer{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(151, 151, 151, 0.479);
}

#gameoverbox{
  font-family: 'jua';
  z-index: 100;
  background-color: white;
  display: flex;
  height: 40%;
  width: 30%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:40px;
  border: 1px solid black;
  border-radius: 10px;
}

#winnerinfo{
  display: flex;
  gap: 10px;
  font-family: 'Caveat Brush';

}


#roompagecontainer{
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: none;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items:center;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

#roompage{
  position: relative;
  scale: 1;
  font-family: 'Jua';
  background-color: white;
  height: 80%;
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

#backbutton{
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(255, 86, 86);
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#lbbackbutton{
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(255, 86, 86);
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 3px;
}


#heading{
  font-size: 35px;
}
#namecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: center;
  width: 100%;
}
#line{
  width: 100%;
  height: 0px;
  border: 0.5px dashed black;
}
#joincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40%;
}
#createcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 20%;
  width: 100%;
}
#join{
  height: 40px;
  width: 70%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Jua';
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
}
#join:hover{
  background-color: white;
  color: black;
}
#create{
  height: 40px;
  width: 70%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Jua';
  font-size: 20px;
  font-weight: 500;
}
#create:hover{
  background-color: white;
  color: black;
}
#joincreate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;

}



#logo{
  grid-row: calc(var(--center_row) - 2) / span 3;
  grid-column: calc(var(--center_column) - 1) / span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-family: 'doors';
  text-align: center;
  background-color: rgb(255, 255, 255);
}

#buttons{
  grid-row: calc(var(--center_row) + 1) / span 3;
  grid-column: var(--center_column) / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'doors';
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  
}

#playbtn{
  margin-bottom: 5px;
  color: white;
  background-color: black;
  height: 50px;
  width: 120px;
  border-radius: 3px;
  font-family: 'doors';
  font-size: 25px;
  border: 1px solid black;
}

#backbutton:hover{
  background-color: maroon;
  color: white;
}
#lbbackbutton:hover{
  background-color: maroon;
  color: white;
}

#lbbtn{
  margin-top: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 100px;
  border-radius: 3px;
  font-family: 'doors';
  font-size: 18px;
  border: 1px solid black;
}

#leaderboard{
  
  height: 70%;
  width: 60%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}


#lbencloser {
  
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 10;
}

#leaderboard h2 {
    font-family: 'Jua';
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    font-family: 'Nunito';
    font-size: 14px;
}

#leaderboard th {
    background-color: black;
    color: white;
}

#leaderboard tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* #playbtn:hover{
  background-color: white;
  color: black;
  scale: 1.2;
} */







/* .easy{
  background-color: lightgreen;
}

.medium{
  background-color: rgb(255, 255, 128);
}

.hard{
  background-color: lightcoral;
} */