
:root {
  --rows : 10;
  --columns : 10;
  --center_column : 5;
  --center_row : 5;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'doors';
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* #word, #input{
  align-items: center;
  justify-content: center;
} */



#playerdata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/calc(var(--rows) + 1);
  grid-column-end: calc(var(--columns) + 1);
  grid-column-start: span 4;
}

#wordinputcontainer{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: calc(var(--rows) + 1);
  grid-column-start: 1;
  grid-column-end: calc(var(--columns) + 1);
}

#wordinput{
  background-color: rgba(255, 255, 255, 0.623);
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* #word{
  grid-row: 5/6;
  grid-column: 2/5;
} */



#status{
  text-align: center;
  grid-row: calc(var(--center_row) + 4) / span 1;
  grid-column: var(--center_column) / span 2;

}

#readypage{
  position: absolute;
  top:0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#readybox{
  z-index: 6;
  opacity: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 80%;
  width: 40%;
  color: black;
}


#overlay1{
  background-color: black;
  z-index: 4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 50%;
  bottom: 0px;
  
  
}

#overlay2{
  background-color: black;
  z-index: 4;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 50%;
  bottom: 0px;
  
}

.anim1{
  animation: anim1 500ms ease-in 6s 1 forwards ;
}
.anim2{
  animation: anim2 500ms ease-in 6s 1 forwards ;
}

@keyframes anim1 {
  /* to {transform: translateX(-100%);width: 0%; display: none;} */
  to {right: 100%;}
}
@keyframes anim2 {
  to {left: 100%;}
}

#ctdwn{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 90px;
  color: yellow;
}


#input input{
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  background-color: none;
  /* display: inline; */
}

/* #encloser{
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.tile{
  /* border: 2px solid black; */
  grid-column: var(--c1)/var(--c2);
  grid-row: var(--r1)/var(--r2);
  z-index: -1;
  background-color: lightgreen;
}

#encloser{
  height: 100vh;
  width: 100vw;

  display: grid;
  /* grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr); */
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  overflow: hidden;
}
#countdown{
  grid-row:  2/4;
  grid-column-start: calc(var(--center_column) - 1);
  grid-column-end: span 5;
  text-align: center;
}

#guess{
  visibility: hidden;
  width: 50px;
  grid-column: 1/2;
  grid-row: 4/5;
}

/* .easy{
  background-color: lightgreen;
}

.medium{
  background-color: rgb(255, 255, 128);
}

.hard{
  background-color: lightcoral;
} */