{% extends 'testbase.html' %} {% block content %}
<div>
  <div id="encloser">
    <!-- <h1>GAME</h1> -->

    <div id="countdown">2:00</div>
    <div id="playerdata">
      

    </div>
    <div id="wordinputcontainer">
      <div id="wordinput">

        <div id="word"></div>
        <div id="input" style="font-size: 25px;"></div>
      </div>
    </div>

    <input type="text" placeholder="Guess" name="guess" id="guess" value="" />
    <!-- <button name="skip" id="skip" onclick=skip() >Skip</button> -->
    <div id="status"></div>
  </div>
</div>

<div id="readypage">
  <div id="readybox">
    <div id="roomcode">
      <div>Room Code: </div>
      <div id="code" style="font-family: 'JetBrains Mono'; font-weight:1000; color:rgb(160, 11, 0); font-size:22px;"></div>
    </div>

    <div id="instructionsheading">
      <span class="material-symbols-outlined">
      done_outline
      </span>
      <div><u>INSTRUCTIONS</u></div>
      <span class="material-symbols-outlined">
      done_outline
      </span>
    </div>
    <div id="instructions">
      
        <div>1. Scrambled words will be given to you, your task is to guess each word correctly.</div>
        <div>2. Words belong to one of three difficulty levels:  
          <span style="color: lightgreen;">Easy</span>, 
          <span style="color: rgb(255, 255, 6);">Medium</span>, or 
          <span style="color: lightcoral;">Hard</span>.
        </div>
        <div>3. You get points for each correctly guessed word. The higher the difficulty, the more points you get.</div>
        <div>4. If you are stuck ona word, you can press <span style="color: blue;">Ctrl + S</span> to Skip the word. However, some of your points will be deducted.</div>
        <div>5. The player with the most points at the end of the time limit wins the game!</div>
      
    </div>

    <button id="ready" onclick="imready()">I'm Ready</button>
  </div>
  <div id="ctdwn" style="display: none">5</div>
</div>

<div id="gameovercontainer" style="display: none;">
  <div id="gameoverbox">
    <div>The Winner is:</div>
    <div id="winnerinfo"></div>
  </div>
</div>

<div id="overlay1"></div>
<div id="overlay2"></div>

<script type="text/javascript">
  var socketio = io();

  var players = {};

  gsap.registerPlugin(SplitText);
  gsap.registerPlugin(MotionPathPlugin);

  let timeout = false;

  let duration = 95;
  let countdown = document.getElementById("countdown");
  let interval;

  let inter;
  let inter2;
  let columns = Math.floor(window.innerWidth / 50);
  let rows = Math.floor(window.innerHeight / 50);
  let center_column = Math.floor(columns / 2);
  let center_row = Math.floor(rows / 2);

  const wrapper = document.getElementById("encloser");

  const createTiles = (columns, rows) => {
    let tile;

    for (i = 1; i <= rows; i++) {
      for (j = 1; j <= columns; j++) {
        tile = document.createElement("div");
        wrapper.appendChild(tile);
        tile.classList.add("tile");
        tile.style.setProperty("--r1", i);
        tile.style.setProperty("--r2", i + 1);
        tile.style.setProperty("--c1", j);
        tile.style.setProperty("--c2", j + 1);
      }
    }
  };

  document.documentElement.style.setProperty("--rows", rows);
  document.documentElement.style.setProperty("--columns", columns);
  document.documentElement.style.setProperty("--center_column", center_column);
  document.documentElement.style.setProperty("--center_row", center_row);

  createTiles(columns, rows);

  const createGrid = () => {
    const elementsToRemove = document.querySelectorAll(".tile");
    elementsToRemove.forEach((element) => {
      element.remove();
    });

    columns = Math.floor(document.body.clientWidth / 50);
    rows = Math.floor(document.body.clientHeight / 50);
    center_column = Math.floor(columns / 2);
    center_row = Math.floor(rows / 2);

    document.documentElement.style.setProperty("--rows", rows);
    document.documentElement.style.setProperty("--columns", columns);
    document.documentElement.style.setProperty(
      "--center_column",
      center_column
    );
    document.documentElement.style.setProperty("--center_row", center_row);

    createTiles(columns, rows);
  };

  window.onresize = () => createGrid();

  function startctdwn() {
    document.getElementById("readybox").style.setProperty("display", "none");
    document.getElementById("overlay1").classList.add("anim1");
    document.getElementById("overlay2").classList.add("anim2");
    let ctdwn = document.getElementById("ctdwn");
    ctdwn.style.setProperty("display", "block");

    let i = 4;
    inter = setInterval(function () {
      if (i == 0) {
        clearInterval(inter);
        document.getElementById("readypage").style.setProperty("display", "none");
      }
      ctdwn.innerHTML = `<p>${i}</p>`;
      i--;
    }, 1000);
  }

  function timer() {
    let minutes = Math.floor(duration / 60);
    let seconds = duration % 60;

    seconds = seconds < 10 ? "0" + seconds : seconds;

    countdown.innerHTML = `<p> ${minutes} : ${seconds} </p>`;

    if (duration == 0) {
      socketio.emit("gameover");
    }

    duration--;
  }

  function imready() {
    let button = document.getElementById("ready");
    button.innerText = "Waiting for other players..";
    button.style.setProperty("background-color","white");
    button.style.setProperty("color","black");
    socketio.emit("ready");
  }

  function showinput(n) {
    inp = document.getElementById("input");
    inp.innerHTML = `<input type="text" maxlength='1' oninput="handleInput(0)"  class="inputs" required />`;

    for (i = 1; i < n; i++) {
      inp.innerHTML += `<input type="text" maxlength='1' oninput="handleInput(${i})" onkeydown="handleBackspace(${i},event)" class="inputs" required />`;
    }

    const elements = document.getElementsByClassName("inputs");
    elements[0].focus();
    console.log(inp.innerhtml);
  }

  function handleInput(n) {
    const elements = document.getElementsByClassName("inputs");
    if (n + 1 == elements.length) {
      validate();
      return;
    }

    if (elements[n].value.length == 1) {
      const a = elements[n];
      const b = elements[n + 1];

      b.focus();
    }
  }

  function handleBackspace(n, event) {
    if (event.key == "Backspace") {
      const elements = document.getElementsByClassName("inputs");
      const a = elements[n];
      const b = elements[n - 1];

      b.focus();
    }
  }

  function validate() {
    if (timeout) {
      return;
    }

    const guess = document.getElementById("guess");

    const elements = document.getElementsByClassName("inputs");
    for (const element of elements) {
      guess.value += element.value;
      element.value = "";
    }
    console.log(guess.value);
    socketio.emit("validate", { guess: guess.value });

    guess.value = "";
  }

  document.addEventListener("keydown", function (event) {
    if ((event.ctrlKey || event.metaKey) && event.key == "s") {
      event.preventDefault();
      skip();
    }
  });

  function skip() {
    if (timeout) {
      return;
    }
    let status = document.getElementById("status");
    const guess = document.getElementById("guess");

    const elements = document.getElementsByClassName("inputs");
    for (const element of elements) {
      element.value = "";
    }

    let i;
    if (elements.length < 5) {
      i = 10;
    } else if (elements.length < 7) {
      i = 5;
    } else {
      i = 2;
    }
    
    status.style.setProperty("color","rgb(255,0,0)");
    status.innerHTML = `<p> - ${i} </p>`;
    socketio.emit("skip");

    guess.value = "";
    clearTimeout(inter2);
    inter2 = setTimeout(function () {
      let status = document.getElementById("status");
      status.innerHTML = "";
    }, 5000);
  }

  const dispinfo = (data) => {
    let disp = document.getElementById("playerdata");
    disp.innerHTML = "";
    let t;
    for (const key in data) {
      players[key] = data[key];

      t = key.toUpperCase();
      t = t[0];
      
      console.log(t);

      var content = `<div class="playerinfo" id="${key}"> 
        <div class="info" >
          <div style="font-size:15px; font-family:'Boogaloo';">${key}</div>
          <div>${data[key]}</div>
        </div>
        <div class="circle">${t}</div >
        </div>`;

      //var content = `<div><b>Player:</b> ${key} , <b>Points:</b> ${data[key]} </div> `;

      disp.innerHTML += content;
    }
  };

  socketio.on("playeradded", (data, code) => {
    dispinfo(data);
    document.getElementById("code").innerText = code;
  });

  socketio.on("startgame", (word, wordlen, difficulty) => {
    startctdwn();

    let elements = document.getElementsByClassName("tile");
    let disp = document.getElementById("word");
    let body = document.getElementsByTagName("body");
    if (difficulty == "easy") {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(144,238,144)",
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
          start: 6200
        }),
      });

      /*for (element of elements){
        element.style.setProperty("background-color",'lightgreen');
      }*/
      body[0].classList.remove("medium");
      body[0].classList.remove("hard");
      body[0].classList.add("easy");
    } else if (difficulty == "medium") {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(255,255,128)",
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
          start: 6200
        }),
      });

      /*for (element of elements){
        element.style.setProperty("background-color",'rgb(255,255,128)');
      }*/
      body[0].classList.remove("easy");
      body[0].classList.remove("hard");
      body[0].classList.add("medium");
    } else {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(255,255,128)",
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
          start: 6200
        }),
      });

      /*for (element of elements){
        element.style.setProperty("background-color",'rgb(255,255,128)');
      }*/
      body[0].classList.remove("easy");
      body[0].classList.remove("medium");
      body[0].classList.add("hard");
    }
    var content = `<div> <b>${word}</b></div>`;
    disp.innerHTML = content;

    let split = SplitText.create(disp, {type: "chars"});
    gsap.set(split.chars, {marginRight:"20px", marginLeft:"20px"});

    showinput(wordlen);

    interval = setInterval(timer, 1000);
  });

  socketio.on("validatedguess", (data) => {
    let status = document.getElementById("status");
    console.log(data);
    if (data != 0) {
      status.style.setProperty("color","rgb(0,255,0)");
      status.innerHTML = `<p> + ${data}</p>`;
    } else {
      const elements = document.getElementsByClassName("inputs");
      elements[0].focus();
      status.style.setProperty("color","rgb(255,255,0)");
      status.innerHTML = `<p> Incorrect </p>`;
    }

    clearTimeout(inter2);
    inter2 = setTimeout(function () {
      let status = document.getElementById("status");
      status.innerHTML = "";
    }, 5000);
  });

  socketio.on("ptsupdate", (name, pts) => {
    console.log(name, pts);
    players[name] = pts;
    console.log(players);
    dispinfo(players);
  });

  socketio.on("newword", (word, wordlen, difficulty) => {
    let disp = document.getElementById("word");
    let body = document.getElementsByTagName("body");
    let elements = document.getElementsByClassName("tile");

    if (difficulty == "easy") {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(144,238,144)",
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
        }),
      });

      
        

      /*for (element of elements){
        element.style.setProperty("background-color",'lightgreen');
      }*/
      body[0].classList.remove("medium");
      body[0].classList.remove("hard");
      body[0].classList.add("easy");
    } else if (difficulty == "medium") {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(255,255,128)",
        reversed: true,
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
        }),
      });

      /*for (element of elements){
        element.style.setProperty("background-color",'rgb(255,255,128)');
      }*/
      body[0].classList.remove("easy");
      body[0].classList.remove("hard");
      body[0].classList.add("medium");
    } else {
      anime({
        targets: ".tile",
        backgroundColor: "rgb(240,128,128)",
        reversed: true,
        delay: anime.stagger(30, {
          grid: [columns, rows],
          from: "center",
        }),
      });

      /*for (element of elements){
        element.style.setProperty("background-color",'lightcoral');
      }*/
      body[0].classList.remove("easy");
      body[0].classList.remove("medium");
      body[0].classList.add("hard");
    }

    
    disp.style.setProperty("visibility","hidden");

    
    var content = `<div> <b>${word}</b></div>`;
    disp.innerHTML = content;

      let split = SplitText.create(disp, {type: "chars"});
    gsap.set(split.chars, {marginRight:"20px", marginLeft:"20px"});

    disp.style.setProperty("visibility","visible");

    gsap.from(split.chars, {
      y:-60,
      autoAlpha:0,
      stagger:{
        each:0.07,
        from: "random"
      }
    });


    showinput(wordlen);
  });

  /*anime({
    targets: '.my-animated-element',
            translateX: 250,
            duration: 10000
});
*/

  socketio.on("gameovertoall", (playername) => {
      timeout = true;
      console.log("game over");
      countdown.innerHTML = `<p> Game Over </p>`;
      clearInterval(interval);
      console.log(playername);


      let winnerpage = document.getElementById("gameovercontainer");
      winnerpage.style.setProperty("display","flex");
      winnerpage.style.setProperty("justify-content",'center');
      winnerpage.style.setProperty("align-items",'center');
      let winnerinfo = document.getElementById("winnerinfo");
      let winnerinfoonpage = document.getElementById(playername);
      winnerinfo.innerHTML = winnerinfoonpage.innerHTML;


  });


  
      
      


</script>

{% endblock %}
